*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 /* font name-- font-family: "Poppins", sans-serif;   */
 @import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Mogra&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 .navbars{ 
     font-family: sans-serif;
     position: static;
     background-color:#66666639;
     width: 100vw;
 }
 .nav-color{
  /*font-family: "Poppins", sans-serif;*/
  position: static;
  background-color: #fff;
  
 }

#navitem{
 padding-left: 400px
 
}
 #link{
    color:#fefefd;
    font-size: 17px;
    padding-left: 10px ; 
    font-family: serif;

 }
#color-link{
  color: #1300ff;
  font-family: serif;
  font-size: 17px;
  padding-left: 10px ; 
}

 #link:hover{
   color:#182127b3; 
 }

#color-link:hover{
 color: #ffffff;
 background-color: #1300ff;
}

 #name{
    color:#fefefd;
    font-size: 25px; 
    
 }

 #color-name{
  color: #1300ff;
  font-family: serif;
  font-size: 25px; 
 }

 h3{
  font-family:serif  !important;
 }

 