*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
 }


 .navbars{ 
     position: static;
     background-color:#666666
 
 }

#navitem{
 padding-left: 400px
 
}
 #link{
    color:#fefefd;
    font-size: 17px;
    padding: 10px ;
    
 }
 #link:hover{
   color:#f5c729; 
 }
 #name{
    color:#fefefd;
    font-size: 25px;
    color: #f9cf46;
 }
 